body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 5px;
    padding: 15px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 700px;
}



/*
=======================
Game Content
=======================

*/
.game-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#game-announcement{
    visibility: hidden;
    font-size: 1.75rem;
    font-weight: 500;
    height: 2rem;
}

/*
==========================
Player
==========================

*/


.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.player-name {
    font-size: 2rem;
    font-weight: 800;
}

.icon > img {
    height: 200px;
    width: auto;
}

.selections {
    display: flex;
    width: auto;
    height: auto;
    padding: 20px;
    gap: 20px;

}


.selection-item{
    background-color: lightgray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px gray;

}

.selection-item-selected{
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

.selection-item-en{
    cursor: pointer;
}

.selection-item-en:hover{
    background-color: gray;
}

.selection-item-en:active{
    background-color: rgb(71, 71, 71);
}

/*
======================
Score
======================
*/

.score-display{
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 3px;
}
